.header{
    width: 100%;}
.ul-header{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    top: 1em;
    z-index: 3;
}

.first-colorDiv, .second-colorDiv{
    display: flex;
    justify-content: space-around;
    width: 20vw;
}
.ul-header li{
    cursor: pointer;

}
