
.image-container{
    width: 100%;
    height: 300vh;
    overflow: hidden;
    position: absolute;
}

.Parallax-img{

    position: relative;
    max-width: 96vw;
    width: 96vw;
    margin: 1vh 1vw 10vh 1vw;
    top: 0;
    left: 0;
    height: auto;

}
.Parallax-about{
    position: relative;
    max-width: 80vw;
    width: 80vw;
    top: 0;
    left: 0;
    height: auto;
    margin: 0 10vw;
}
.Parallax-img:nth-child(2){
    margin-top: 25vh;
}


.Parallax-img:nth-child(3){
    margin-top: 100vh;
}