
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    position: absolute;
}

.DOK-img{

    position: relative;
    margin: 1em;
    max-width: 100vw;
    width: 96vw;
    height: auto;
    z-index: 1;
    padding-bottom: 10em;
}

